
<!-- ******************************* Navbar Section ******************************* -->
<app-navbar></app-navbar>

<!-- ******************************* Back button ******************************* -->
<div class="relative mt-4 ml-4">
  <a routerLink="/dashboard" class="text-gray-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-400 inline-flex items-center">
      <svg class="w-5 h-5 mr-2 pointer-events-none" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
      </svg>
      <span>Back</span>
  </a>
</div>

<!-- ******************************* Services Section ******************************* -->

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Explore our Services <br>And stay <span class="text-blue-500">Ahead </span>in the job market</h1>

      <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
        > Unlock powerful tools and insights to stay ahead in the job market.
      </p>

      <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
          <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl transition-all duration-300 hover:shadow-xl hover:scale-105 hover:bg-blue-100">
              <span class="inline-block text-blue-500 dark:text-blue-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                  </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Real-Time Analytics</h1>

              <p class="text-gray-500 dark:text-gray-300">
                Gain valuable, actionable insights with real-time data analysis, enabling you to make informed decisions and stay ahead of the curve in an ever-evolving job market.
              </p>

              <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
              </a>
          </div>

          <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl transition-all duration-300 hover:shadow-xl hover:scale-105 hover:bg-blue-100">
              <span class="inline-block text-blue-500 dark:text-blue-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                  </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Personalized Job Alerts</h1>

              <p class="text-gray-500 dark:text-gray-300">
                Stay consistently updated with personalized job notifications, ensuring you never miss out on the best opportunities that align with your skills and career goals.
              </p>

              <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
              </a>
          </div>

          <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl transition-all duration-300 hover:shadow-xl hover:scale-105 hover:bg-blue-100">
              <span class="inline-block text-blue-500 dark:text-blue-400">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                  </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">In-Demand Skill Trends</h1>

              <p class="text-gray-500 dark:text-gray-300">
                Discover the most in-demand skills that employers are actively seeking, and stay ahead by mastering the competencies that will boost your career prospects.
              </p>

              <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
              </a>
          </div>

          <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl transition-all duration-300 hover:shadow-xl hover:scale-105 hover:bg-blue-100">
            <span class="text-blue-500">
              <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343M9 14h.01M15 10h.01" />
              </svg>
            </span>

            <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Industry Insights</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Make well-informed career decisions by leveraging expert insights and industry trends that empower you to navigate the job market with confidence.
            </p>

            <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </a>
          </div>

          <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl transition-all duration-300 hover:shadow-xl hover:scale-105 hover:bg-blue-100">
            <span class="text-blue-500">
              <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-3.314 0-6 2.686-6 6s2.686 6 6 6 6-2.686 6-6-2.686-6-6-6zm0-3a9 9 0 100 18 9 9 0 000-18z" />
              </svg>
            </span>

            <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Job Market Forecasting</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Gain a comprehensive understanding of future job market trends, allowing you to anticipate changes and strategically position yourself for upcoming opportunities.
            </p>

            <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </a>
          </div>

          <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl transition-all duration-300 hover:shadow-xl hover:scale-105 hover:bg-blue-100">
            <span class="text-blue-500">
              <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 11V7a4 4 0 118 0v4m-6 4h6a2 2 0 002-2v-5a6 6 0 00-12 0v5a2 2 0 002 2z" />
              </svg>
            </span>

            <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Resume Optimization</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Enhance your resume with expert tips and personalized recommendations to highlight your skills, experiences, and achievements, ensuring it stands out to potential employers.
            </p>

            <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </a>
          </div>
      </div>
  </div>

  <!-- Call-to-Action -->
  <div class="container px-6 py-8 mx-auto mb-8">
    <h1 class="text-2xl font-medium text-gray-800 capitalize lg:text-3xl dark:text-white">
      Ready to take the next step?
      <span class="text-blue-500 underline">
        <a href="#" class="inline-block transition-transform transform duration-300 hover:scale-110">Get Started</a>
      </span>
    </h1>
  </div>
</section>


<!-- ******************************* Foooter Section ******************************* -->
<app-footer></app-footer>


<!-- ******************************* Fixed Icon Sample ******************************* -->

<!-- <div class="fixed inset-x-0 lg:inset-x-auto bottom-6 lg:right-8 xl:right-10 xl:bottom-8">
  <div class="lg:w-72 px-6 lg:px-0">
      <div class="p-2 bg-blue-600 rounded-lg shadow-lg sm:p-3">
          <div class="flex flex-wrap items-center justify-between">
              <a target="_blank" href="https://www.buymeacoffee.com/khatabwedaa" class="flex items-center flex-1 w-0">
                  <span class="flex p-2 bg-blue-800 rounded-lg">
                      <svg class="h-6 w-6 text-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.12954 3.00772C5.48563 2.38457 6.14831 2 6.86603 2H17.134C17.8517 2 18.5144 2.38457 18.8704 3.00772L20.0133 5.00772C20.6612 6.14163 20.0618 7.51107 18.9235 7.89532C18.9276 7.97661 18.9269 8.0591 18.9209 8.14249L18.0638 20.1425C17.989 21.1891 17.1181 22 16.0689 22H7.9311C6.88182 22 6.01094 21.1891 5.93618 20.1425L5.07904 8.14249C5.07308 8.0591 5.07231 7.97661 5.07645 7.89531C3.93813 7.51105 3.33874 6.14162 3.98668 5.00772L5.12954 3.00772ZM7.07396 8L7.28824 11H16.7117L16.926 8H7.07396ZM7.71681 17L7.9311 20H16.0689L16.2831 17H7.71681ZM18.2768 6L17.134 4L6.86603 4L5.72317 6H18.2768Z" fill="currentColor"></path>
                      </svg>

                  </span>

                  <p class="ml-3 font-medium tracking-wide text-white truncate">
                      By me a coffee
                  </p>
              </a>
          </div>
      </div>
  </div>
</div> -->
