<!-- ******************************* Navbar Section ******************************* -->
<app-navbar></app-navbar>

<!-- ******************************* Back button ******************************* -->
<div class="relative mt-4 ml-4">
  <a routerLink="/dashboard" class="text-gray-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-400 inline-flex items-center">
      <svg class="w-5 h-5 mr-2 pointer-events-none" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
      </svg>
      <span>Back</span>
  </a>
</div>

<!-- ******************************* Job Post Form ******************************* -->
<div class="bg-white border border-4 rounded-lg shadow relative m-10">

  <div class="flex items-start justify-between p-5 border-b rounded-t">
      <h3 class="text-xl font-semibold">
          Create Job Post
      </h3>
      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" aria-label="Close">
         <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
  </div>

  <div class="p-6 space-y-6">
    <form [formGroup]="jobPostForm" (ngSubmit)="createJobPost()">
        <div class="grid grid-cols-6 gap-6">
            <!-- Job Title -->
            <div class="col-span-6 sm:col-span-3">
              <label for="job-title" class="text-sm font-medium text-gray-900 block mb-2">Job Title</label>
              <select id="job-title" formControlName="title"
                      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required>
                <option value="" disabled selected>Select Job Title</option>
                <option *ngFor="let title of jobTitles" [value]="title">{{ title }}</option>
              </select>
              <span *ngIf="(jobPostForm.controls['title'].touched || jobPostSubmitted) && jobPostForm.controls['title'].hasError('required')" class="text-sm text-red-500 mt-1 ml-2">Title is required</span>
            </div>


            <!-- Experience -->
            <div class="col-span-6 sm:col-span-3">
              <label for="experience" class="text-sm font-medium text-gray-900 block mb-2">Experience (in years)</label>
              <select id="experience" formControlName="experience"
                      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
                  <option value="" disabled selected>Select Experience</option>
                  <option *ngFor="let option of experienceOptions" [value]="option">{{ option }} Years+</option>
              </select>
              <span *ngIf="(jobPostForm.controls['experience'].touched || jobPostSubmitted) && jobPostForm.controls['experience'].hasError('required')"
                    class="text-sm text-red-500 mt-1 ml-2">Experience is required</span>
            </div>

            <!-- Salary -->
            <div class="col-span-6 sm:col-span-3">
              <label for="salary" class="text-sm font-medium text-gray-900 block mb-2">Salary Range</label>
              <div class="flex space-x-4">
                  <!-- From Salary Dropdown -->
                  <div class="w-1/2">
                      <select id="salaryFrom" formControlName="salaryFrom"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
                          <option value="" disabled selected>Select From</option>
                          <option *ngFor="let option of salaryFromOptions" [value]="option">{{ option }} Lakhs</option>
                      </select>
                  </div>

                  <!-- To Salary Dropdown -->
                  <div class="w-1/2">
                      <select id="salaryTo" formControlName="salaryTo"
                              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5">
                          <option value="" disabled selected>Select To</option>
                          <option *ngFor="let option of salaryToOptions" [value]="option">{{ option }} Lakhs</option>
                      </select>
                  </div>
              </div>
              <span *ngIf="(jobPostForm.controls['salaryFrom'].touched || jobPostSubmitted) && jobPostForm.controls['salaryFrom'].hasError('required')"
                    class="text-sm text-red-500 mt-1 ml-2">Salary range is required</span>
            </div>


            <!-- Location -->
            <div class="col-span-6 sm:col-span-3">
              <label for="location" class="text-sm font-medium text-gray-900 block mb-2">Location</label>
              <div class="relative dropdown" id="location-dropdown">
                <div
                  class="flex flex-wrap items-center gap-1 px-2 py-1 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg shadow-sm focus-within:ring-cyan-600 focus-within:border-cyan-600">
                  <span *ngFor="let location of selectedLocations; let i = index"
                    class="bg-cyan-600 text-white px-2 py-0.5 rounded text-sm flex items-center">
                    {{ location }}
                    <button type="button" (click)="removeLocation(i)"
                      class="ml-1 text-white hover:text-gray-100 focus:outline-none">
                      &times;
                    </button>
                  </span>
                  <input type="text" id="location" formControlName="location" (input)="filterLocations()"
                    (keydown.enter)="addLocation($event)" (focus)="toggleLocationDropdown()"
                    class="flex-1 bg-transparent outline-none text-sm p-1" placeholder="Hyderabad, Pune, Bengaluru">
                </div>
                <!-- Only show dropdown if flag is true -->
                <ul *ngIf="isLocationDropdownVisible && filteredLocations.length"
                  class="absolute z-10 bg-white border border-gray-300 rounded shadow-lg w-full mt-1 max-h-32 overflow-y-auto">
                  <li *ngFor="let option of filteredLocations" (click)="selectLocation(option)"
                    class="px-2 py-1 hover:bg-cyan-100 cursor-pointer">
                    {{ option }}
                  </li>
                </ul>
              </div>
              <span
                *ngIf="(jobPostSubmitted) && this.selectedLocations.length === 0"
                class="text-sm text-red-500 mt-1 ml-2">Location is required</span>
            </div>

            <!-- Skills -->
            <div class="col-span-6 sm:col-span-3">
              <label for="skills" class="text-sm font-medium text-gray-900 block mb-2">Skills</label>
              <div class="relative dropdown" id="skills-dropdown">
                <div
                  class="flex flex-wrap items-center gap-1 px-2 py-1 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg shadow-sm focus-within:ring-cyan-600 focus-within:border-cyan-600">
                  <span *ngFor="let skill of selectedSkills; let i = index"
                    class="bg-cyan-600 text-white px-2 py-0.5 rounded text-sm flex items-center">
                    {{ skill }}
                    <button type="button" (click)="removeSkill(i)" class="ml-1 text-white hover:text-gray-100 focus:outline-none">
                      &times;
                    </button>
                  </span>
                  <input type="text" id="skills" formControlName="skills" (input)="filterSkills()"
                    (keydown.enter)="addSkill($event)" (focus)="toggleSkillsDropdown()"
                    class="flex-1 bg-transparent outline-none text-sm p-1" placeholder="React, Node.js, MongoDB, Express.js">
                </div>
                <ul *ngIf="isSkillsDropdownVisible && filteredSkills.length"
                  class="absolute z-10 bg-white border border-gray-300 rounded shadow-lg w-full mt-1 max-h-32 overflow-y-auto">
                  <li *ngFor="let option of filteredSkills" (click)="selectSkill(option)"
                    class="px-2 py-1 hover:bg-cyan-100 cursor-pointer">
                    {{ option }}
                  </li>
                </ul>
              </div>
              <span
                *ngIf="(jobPostSubmitted) && this.selectedSkills.length === 0"
                class="text-sm text-red-500 mt-1 ml-2">Skills are required</span>
            </div>

            <!-- Tags -->
            <div class="col-span-6 sm:col-span-3">
              <label for="tags" class="text-sm font-medium text-gray-900 block mb-2">Tags</label>
              <div class="relative dropdown" id="tags-dropdown">
                <div
                  class="flex flex-wrap items-center gap-1 px-2 py-1 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg shadow-sm focus-within:ring-cyan-600 focus-within:border-cyan-600">
                  <span *ngFor="let tag of selectedTags; let i = index"
                    class="bg-cyan-600 text-white px-2 py-0.5 rounded text-sm flex items-center">
                    {{ tag }}
                    <button type="button" (click)="removeTag(i)" class="ml-1 text-white hover:text-gray-100 focus:outline-none">
                      &times;
                    </button>
                  </span>
                  <input type="text" id="tags" formControlName="tags" (input)="filterTags()" (keydown.enter)="addTag($event)"
                    (focus)="toggleTagsDropdown()" class="flex-1 bg-transparent outline-none text-sm p-1"
                    placeholder="Full-time, Remote, Intership">
                </div>
                <ul *ngIf="isTagsDropdownVisible && filteredTags.length"
                  class="absolute z-10 bg-white border border-gray-300 rounded shadow-lg w-full mt-1 max-h-32 overflow-y-auto">
                  <li *ngFor="let option of filteredTags" (click)="selectTag(option)"
                    class="px-2 py-1 hover:bg-cyan-100 cursor-pointer">
                    {{ option }}
                  </li>
                </ul>
              </div>
              <span
                *ngIf="(jobPostSubmitted) && this.selectedTags.length === 0"
                class="text-sm text-red-500 mt-1 ml-2">Tags are required</span>
            </div>



            <!-- Description -->
            <div class="col-span-full">
                <label for="description" class="text-sm font-medium text-gray-900 block mb-2">Job Description</label>
                <textarea id="description" formControlName="description" rows="6" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-4" placeholder="Job description here..." required></textarea>
                <span *ngIf="(jobPostForm.controls['description'].touched || jobPostSubmitted) && jobPostForm.controls['description'].hasError('required')" class="text-sm text-red-500 mt-1 ml-2">Description is required</span>
            </div>
        </div>

        <div class="p-6 border-t border-gray-200 rounded-b flex justify-end">
          <button type="submit" class="text-white bg-cyan-600 mt-2 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit Job</button>
        </div>
    </form>
  </div>


  <!-- <div class="p-6 border-t border-gray-200 rounded-b">
      <button type="submit" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit Job</button>
  </div> -->

</div>

<!-- ******************************* Foooter Section ******************************* -->
<app-footer></app-footer>
